*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
    color: var(--secondary-color);
    background-color: #1d1f37;
}

main{
    max-width: 1366px;
    margin: 0 auto;
}

main > *{
    padding-left: 81px;
    padding-right: 81px;
}


img{
    display: block;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

p{
    font-size: 1.125rem;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h1 > strong{
    color: var(--primary-color);
}

h2{
    font-size: 28px;
    line-height: 130%;
    font-weight: normal;
}

.projects{
    background-color: var(--secondary-bg-color);
}
.opinions{
    background-color: var(--gray-color);
}
.comment_form{
    background-color: var(--primary-bg-color);
}
.footer_body{
    background-color: var(--secondary-bg-color);
}